<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="ISO-8859-1">
    <title>Transactions</title>
    <!-- JavaScript Bundle with Popper -->
    <script
            src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
            crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <ul class="nav nav-tabs mt-5">
        <li class="nav-item"><a href="./start.html" class="nav-link active">Overview</a></li>
        <li class="nav-item"><a href="./payments.html" class="nav-link">Add Payment</a></li>
        <li class="nav-item"><a href="./transactions.html" class="nav-link">Add Transaction</a></li>
        <li class="nav-item"><a href="./login.html" class="nav-link">Log in</a></li>
        <li class="nav-item"><a href="./contact.html" class="nav-link">Contact Us</a></li>
    </ul>
    <div id="addTrans">
        <h3>Add Transcation</h3>
        <h6>Transaction Type</h6>
        <select>
            <option value>Clothing</option>
            <option value>Food</option>
            <option value>Travel</option>
            <option value>Rent</option>
            <option value>Video Game</option>
            <option value>Gas</option>
            <option value>Insurance</option>
            <option value>Streaming Subscriptions</option>
            <option value>Car Payment</option>
            <option value>Savings</option>
        </select>
        <input id="transactionAmount" placeholder="Amount">
        <button>Add Transaction</button>
    </div>
</div>
</body>
</html>